{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span4 offset4">
    {% if form.errors %}
    <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    {% endif %}
    <form method="post" action="">
      {% csrf_token %}
      <p>
	{% if form.username.errors %}
        <p class="errors">{{ form.username.errors.as_text }}</p>
        {% endif %}
        {{ form.username }}
      </p>
      <p>
	{% if form.email.errors %}
        <p class="errors">{{ form.email.errors.as_text }}</p>
        {% endif %}
        {{ form.email }}
      </p>
      <p>
	{% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
        {% endif %}
        {{ form.password1 }}
      </p>
      <p>
	{% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
        {% endif %}
        {{ form.password2 }}
      </p>
      <button class="btn btn-large btn-primary btn-block">Create my account</button>
    </form>
  </div>
</div>
{% endblock %}