/* COLORS */
$gray0-color: #F4F7F8;
$gray1-color: #ECF0F1;
$gray2-color: #BDC3C7;
$gray3-color: #95A5A6;
$gray4-color: #7F8C8D;
$neutral-color: #FFFFFF;

$base-color-dark: #2C3E50;
$base-color-light: #34495E;

$main-color-dark: #2980B9;
$main-color-light: #3498DB;

$accent-color-dark: #C0392B;
$accent-color-light: #E74C3C;

/* FONTS */
$font-size-p: 1em;
$font-family: 'Lato, Helvetica, serif';